* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", "sans-serif";
    scroll-behavior: smooth;
    text-decoration: none;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

body {
    background-color: whitesmoke;
}

.header {
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    color: orange;
    height: 60px;
    justify-content: space-between;
    text-decoration: none;
    position: fixed;
    z-index: 9;
}

.logo {
    font-size: 40px;
    color: orange;
    font-weight: 600;
    font-family: "Anton SC";
    text-decoration: none;
    padding-left: 10px;
}

.logo span {
    color: orangered;
}

.navbar>a {
    color: orange;
    justify-content: space-between;
    justify-content: end;
    float: left;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
}